.heart {
    position: absolute;
    transform: rotate(-45deg);
    background: #e74c3c;
    opacity: .5;
  }
  .heart::before,
  .heart::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #e74c3c;
    border-radius: 50%;
 
  }
  
  .heart::before {
    top: -50%;
    left: 0;
  }
  .heart::after {
    top: 0;
    right: -50%;
  }
  .contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    /* height: 100hv; */
  }
  img{
    width:50%;
  }
  .titulo{
     display: flex;
     align-items: center;
     position: absolute;
     font-size: 20px;
     font-family: cursive;
     color: aliceblue;
     margin:0px 5px 0px 5px ;
     opacity: 0.2;
}
.contletra .titulo{
    background: black;
    display: flex;
    width: 49%;
    justify-content: center;
    opacity: 0.5; 
}

  @media(max-width:600px){
     
      img{
          width: 100%;
          
      } 
       .titulo{
        display: flex;
        align-items: center;
        position: absolute;
        font-size: 20px;
        font-family: cursive;
        color: aliceblue;
       
        opacity: 0.2;
   }
   .contletra .titulo{
    background: black;
    display: flex;
    width: 95%;
    font-size: 22px;
    justify-content: center;
    opacity: 0.5; 
   }
   .contletra{text-align: center;}

  /* .contenedor{
    display:flex;
    justify-content: center;
    align-self: center;
    height: 100hv;
  } */
  }